[access "refs/heads/sandbox/${username}/*"]
	create = group Registered Users
	push = +force group Registered Users
	pushMerge = group Registered Users
	pushMerge = group aom-committers
[project]
	description = Alliance for Open Media
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group aom-committers
	submit = group Registered Users
	submit = group aom-committers
	submitAs = group aom-committers
