[access "refs/heads/sandbox/${username}/*"]
	create = group Registered Users
	push = +force group Registered Users
	pushMerge = group Administrators
	exclusiveGroupPermissions = create push pushMerge
[project]
	description = Alliance for Open Media
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group aom-committers
	label-Code-Review = -2..+2 group aom-googlers
	submit = group aom-committers
	submit = group aom-googlers
	submit = group aom-interns
	submit = group mdb/interns
	submitAs = group aom-committers
	submitAs = group aom-googlers
	label-Verified = -1..+1 group aom-committers
	label-Verified = -1..+1 group aom-googlers
	exclusiveGroupPermissions = forgeAuthor forgeCommitter submitAs
	forgeAuthor = group aom-committers
	forgeCommitter = group aom-committers
	create = group aom-releasers
	revert = deny group Registered Users
	revert = group aom-committers
	revert = group aom-interns
[label "Verified"]
    function = MaxWithBlock
    value = -1 Fails
    value = 0 No score
    value = +1 Verified
	defaultValue = 0
[submit]
	action = rebase if necessary
	rejectEmptyCommit = true
[access "refs/tags/*"]
	createTag = group Administrators
	createTag = group aom-releasers
	createSignedTag = group Administrators
	createSignedTag = group aom-releasers
	exclusiveGroupPermissions = createSignedTag createTag
[access "refs/heads/opfl"]
	push = group opfl-committers
[access "refs/for/experimental"]
	pushMerge = group aom-googlers
[access "refs/meta/config"]
	read = group Administrators
[receive]
[access "refs/for/*"]
	removeReviewer = group aom-googlers
[access "refs/for/refs/heads/research"]
	pushMerge = group aom-googlers
	push = group aom-googlers
[access "refs/for/refs/heads/master"]
	pushMerge = group aom-releasers
[access "refs/for/refs/heads/research2"]
	pushMerge = group aom-googlers
[access "refs/for/refs/heads/research-partition"]
	pushMerge = group aom-committers
	pushMerge = group aom-googlers
[access "refs/for/refs/heads/research-quant"]
	pushMerge = group aom-committers
	pushMerge = group aom-googlers
